<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-left">
        <div class="footer-left__col">
          <ul class="footer-nav">
            <li><a href="#">Каталог</a></li>
            <li><a href="#">Кондиционеры</a></li>
            <li><a href="#">Холодильники</a></li>
            <li><a href="#">Стирально-сушильная колонна</a></li>
            <li><a href="#">Винные шкафы</a></li>
            <li><a href="#">Вытяжки</a></li>
            <li><a href="#">Варочные поверхности</a></li>
            <li><a href="#">Духовные шкафы</a></li>
          </ul>
          <ul class="footer-nav">
            <li><a href="#">О бренде</a></li>
          </ul>
          <ul class="footer-nav">
            <li><a href="#">Где купить</a></li>
          </ul>
        </div>
        <div class="footer-left__col">
          <ul class="footer-nav">
            <li><a href="#">Покупателям</a></li>
            <li><a href="#">Кондиционеры</a></li>
            <li><a href="#">Casarte Premium монтаж</a></li>
          </ul>
          <div class="footer-pay">
            <p>Мы принимаем платежи</p>
            <img src="img/pay-1.jpg" alt="">
            <img src="img/pay-2.jpg" alt="">
            <img src="img/pay-3.jpg" alt="">
            <img src="img/pay-4.jpg" alt="">
            <img src="img/pay-5.jpg" alt="">
            <img src="img/pay-6.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="footer-right">
        <div class="footer-right__col">
          <div class="footer-right__block">
            <h4>Остались вопросы? Позвоните нам</h4>
            <h5>Москва и МО, 08:00 - 22:00 МСК</h5>
            <a href="tel:8 (800) 234 09 53">8 (800) 234 09 53</a>
            <a href="#" class="footer-btn">НАПИШИТЕ НАМ</a>
          </div>
          <div class="footer-right__block">
            <h4>Сервисное обслуживание и ремонт</h4>
            <h5>Москва и МО, 08:00 - 22:00 МСК</h5>
            <a href="tel:8 (800) 234 09 53">8 (800) 234 09 53</a>
          </div>
        </div>
        <div class="footer-right__col">
          <div class="footer-right__block app">
            <h4>Установите приложение Evo и получайте дополнительные преимущества от Casarte</h4>
            <img src="img/qr.png" alt="" class="footer-qr">
            <p>Наведите камеру на QR-код,<br> чтобы скачать</p>
            <ul class="footer-right__links">
              <li><a href="#"><img src="img/svg/app-store.svg" alt=""></a></li>
              <li><a href="#"><img src="img/svg/google-play.svg" alt=""></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>