<header class="header">
  <div class="container">
    <a href="/" class="header-logo"><img src="img/svg/logo.svg" alt=""></a>
    {# <ul class="header-nav">
      <li><a href="#">Каталог</a></li>
      <li><a href="#">О бренде</a></li>
      <li><a href="#">Где купить</a></li>
      <li><a href="#">Покупателям</a></li>
    </ul> #}
    <a href="tel:8 (800) 702-68-18" class="header-phone">8 (800) 702-68-18</a>
    <a href="javascript:;" data-fancybox data-src="#popup-call" class="header-btn">Обратный звонок</a>
  </div>
</header>