{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<header class="header">
  <div class="container">
    <a href="/" class="header-logo"><img src="img/svg/logo.svg" alt=""></a>
    <ul class="header-nav">
      <li><a href="#">Каталог</a></li>
      <li><a href="#">О бренде</a></li>
      <li><a href="#">Где купить</a></li>
      <li><a href="#">Покупателям</a></li>
    </ul>
    <a href="tel:+7 (999) 999-99-99" class="header-phone">+7 (999) 999-99-99</a>
    <a href="#" class="header-btn">Обратный звонок</a>
  </div>
</header>

<section class="hero">
  <div class="hero-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide hero-slide" style="background-image: url(./img/hero-1.jpg);">
        <div class="container">
          <div class="hero-text">
            <h4>CASARTE DOOUBLE DRUM</h4>
            <h1 class="hero-title">Климатическая техника премиального уровня</h1>
            <p>Исключитльный комфорт без компромиссных решений гармония сдержанности и чистоты линии элегантный дизайн в эстетике дома будущего</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide hero-slide" style="background-image: url(./img/hero-2.jpg);">
        <div class="container">
          <div class="hero-text">
            <h2 class="hero-title">Однопоточный кассетный кондиционер</h2>
          </div>
        </div>
      </div>
      <div class="swiper-slide hero-slide" style="background-image: url(./img/hero-3.jpg);">
        <div class="container">
          <div class="hero-text">
            <h2 class="hero-title">Низконапорный канальный кондиционер</h2>
          </div>
        </div>
      </div>
      <div class="swiper-slide hero-slide" style="background-image: url(./img/hero-4.jpg);">
        <div class="container">
          <div class="hero-text">
            <h2 class="hero-title">Средненапорный канальный кондиционер</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-control">
      <div class="hero-slider__arrow hero-slider__prev"></div>
      <i></i>
      <div class="hero-slider__arrow hero-slider__next"></div>
    </div>
    <img src="img/svg/casarte.svg" alt="" class="hero-casarte">
  </div>
</section>

<section class="advantages">
  <div class="container">
    <div class="advantages-list">
      <div class="advantages-item">
        <img src="img/svg/advantages-1.svg" alt="">
          <span class="advantages-item__text">
            <h3>Гарантия 7 лет</h3>
            <p>На весь модельный ряд на все серии кондиционеров Casarte</p>
          </span>
        </img>
      </div>
      <div class="advantages-item">
        <img src="img/svg/advantages-2.svg" alt="">
          <span class="advantages-item__text">
            <h3>Забота о здоровье</h3>
            <p>На весь модельный ряд на все серии кондиционеров Casarte</p>
          </span>
        </img>
      </div>
      <div class="advantages-item">
        <img src="img/svg/advantages-3.svg" alt="">
          <span class="advantages-item__text">
            <h3>Непревзойденная эффективность</h3>
            <p>На весь модельный ряд на все серии кондиционеров Casarte</p>
          </span>
        </img>
      </div>
      <div class="advantages-item">
        <img src="img/svg/advantages-4.svg" alt="">
          <span class="advantages-item__text">
            <h3>Максимальный комфорт</h3>
            <p>На весь модельный ряд на все серии кондиционеров Casartes</p>
          </span>
        </img>
      </div>
    </div>
  </div>
</section>

<section class="engineers">
  <div class="container">
    <div class="engineers-grid">
      <div class="engineers-main">
        <h2 class="engineers-title">Инженеры Casarte внедряют современные технологии в свои разработки</h2>
        <p>Инженеры Casarte внедряют современные технологии в свои разработки. Все кондиционеры Casarte оснащаются многофункциональной системой удаленного управления по сетям Wi-Fi. Управлять климатом в вашем доме теперь можно из любой точки мира и в любое время. Нужно лишь установить приложение Haier evo на ваш смартфон или планшет.</p>
        <img src="img/engineers-image.jpg" alt="" class="engineers-image">
      </div>
      <div class="engineers-list">
        <div class="engineers-list__item">
          <img src="img/svg/engineers-1.svg" alt="">
          <div class="engineers-list__item-text">
            <h3>Функция «Удаленное управление»</h3>
            <p>Позволяет управлять кондиционером из любой точки мира через мобильное приложение</p>
          </div>
        </div>
        <div class="engineers-list__item">
          <img src="img/svg/engineers-2.svg" alt="">
          <div class="engineers-list__item-text">
            <h3>Мониторинг состояния устройства</h3>
            <p>С удобным отображением информации и четкой статистикой</p>
          </div>
        </div>
        <div class="engineers-list__item">
          <img src="img/svg/engineers-3.svg" alt="">
          <div class="engineers-list__item-text">
            <h3>В случае ошибки в работе</h3>
            <p>Кондиционер оперативно сообщит вам о своей неисправности</p>
          </div>
        </div>
        <div class="engineers-list__item">
          <img src="img/svg/engineers-4.svg" alt="">
          <div class="engineers-list__item-text">
            <h3>Кондиционером удобно управлять</h3>
            <p>При помощи голосового помощника Яндекс Алиса</p>
          </div>
        </div>
        <div class="engineers-list__item">
          <img src="img/svg/engineers-5.svg" alt="">
          <div class="engineers-list__item-text">
            <h3>Удаленное включение / отключение функции «Комфортный сон»</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ifd">
  <div class="container">
    <div class="promo">
      <h4>CASARTE DOOUBLE DRUM</h4>
      <h2>СВЕРХЭФФЕКТИВНЫЙ IFD ФИЛЬТР</h2>
      <div class="promo-text">
        <p>Исключитeльный комфорт без компромиссных решений гармония сдержанности и чистоты линии элегантный дизайн в эстетике дома будущего</p>
        <a href="#">Каталог</a>
      </div>
      <div class="promo-image"><img src="img/promo-1.jpg" alt=""></div>
    </div>
    <div class="ifd-grid">
      <div class="ifd-item">
        <img src="img/ifd-1.jpg" alt="">
        <div class="ifd-item__text">
          <h3>Максимальный комфорт</h3>
          <p>После мытья съемный модуль IFD можно использовать повторно. Срок службы модуля IFD рассчитан на весь срок службы кондиционера.</p>
        </div>
      </div>
      <div class="ifd-item">
        <img src="img/ifd-2.jpg" alt="">
        <div class="ifd-item__text">
          <h3>Удобство</h3>
          <p>Очистку можно включить в любом режиме работы кондиционера: охлаждение, нагрев, вентиляция. Благодаря этому вы сможете дышать чистым воздухом, одновременно охлаждая его до комфортной температуры.</p>
        </div>
      </div>
      <div class="ifd-item outline">
        <img src="img/ifd-3.jpg" alt="">
        <div class="ifd-item__text">
          <h3>Сертификация SGS*</h3>
          <a href="#" class="ifd-download">Загрузить</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="eco">
  <div class="container">
    <div class="promo">
      <h4>CASARTE DOOUBLE DRUM</h4>
      <h2>ЭКОДАТЧИК</h2>
      <div class="promo-text">
        <p>Интеллектуальный датчик для определения положения людей в помещении, позволяющий создавать наилучший комфорт и экономить до 36% электроэнергии</p>
        <a href="#">Каталог</a>
      </div>
      <div class="promo-image"><img src="img/promo-2.jpg" alt=""></div>
    </div>
    <div class="eco-list">
      <div class="eco-list__item">
        <h3>Режим сопровождения Follow</h3>
        <p>Кондиционер направляет поток воздуха в одну, две или три зоны поочередно с автоматическим интервалом.</p>
      </div>
      <div class="eco-list__item">
        <h3>Режим избегания Avoid</h3>
        <p>Направляет поток воздуха в самую дальнюю зону. Если человек находится в середине помещения, то кондиционер направляет воздушный поток в двух направлениях, минуя его.</p>
      </div>
      <div class="eco-list__item">
        <h3>Автоматический режим</h3>
        <p>В зависимости от количества людей в помещении кондиционер автоматически регулирует температуру и скорость вращения вентилятора.</p>
      </div>
    </div>
  </div>
</section>

<section class="flow">
  <div class="container">
    <div class="promo">
      <h4>CASARTE DOOUBLE DRUM</h4>
      <h2>СПИРАЛЬНЫЙ ВОЗДУШНЫЙ ПОТОК</h2>
      <div class="promo-text">
        <p>Благодаря особому дизайну жалюзи внутреннего блока формируется восходящий поток воздуха. Таким образом холодный воздух не попадает на человека, а распределение температуры в помещении становится более равномерным.</p>
        <a href="#">Каталог</a>
      </div>
      <div class="promo-image"><img src="img/promo-3.jpg" alt=""></div>
    </div>
    <div class="flow-grid">
      <div class="flow-item">
        <img src="img/flow-1.jpg" alt="">
        <div class="flow-item__text">
          <h3>Холодный воздух<br> направляется в потолок</h3>
          <p>В режиме охлаждения холодный воздух подается под углом 35° к потолку, благодаря чему он не будет дуть прямо на человека, а будет равномерно распределяться от потолка до пола. Кондиционер охлаждает помещение гораздо быстрее, не доставляя дискомфорта.</p>
        </div>
      </div>
      <div class="flow-item">
        <img src="img/flow-2.jpg" alt="">
        <div class="flow-item__text">
          <h3>Теплый воздух<br> направляется в пол</h3>
          <p>В режиме обогрева поток теплого воздуха направляется непосредственно в пол. При этом теплый воздух циркулирует, проникая во все уголки помещения, обеспечивая сбалансированную температуру.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="inverter">
  <div class="container">
    <div class="promo">
      <h4>CASARTE DOOUBLE DRUM</h4>
      <h2>ТЕХНОЛОГИЯ INVERTER PLUS</h2>
      <div class="promo-text">
        <p>Встроенное инверторное управление TLFM, инверторное управление PID и инверторное управление A-PAM позволяют достичь максимального комфорта, надежности и энергоэффективности.</p>
        <a href="#">Каталог</a>
      </div>
      <div class="promo-image"><img src="img/promo-4.jpg" alt=""></div>
    </div>
    <div class="inverter-stats">
      <h3>Экономия<br> до 63%*</h3>
      <div class="inverter-stats__graph">
        <div class="inverter-stats__graph-item"><span class="casarte"></span><b>Энергопотребление кондиционеров Casarte</b></div>
        <div class="inverter-stats__graph-item"><span class="other"></span><b>Энергопотребление других кондиционеров</b></div>
      </div>
      <h5>* На основе внутренних исследований, проведенных компанией Haier.</h5>
    </div>
  </div>
</section>

<section class="uv">
  <div class="container">
    <img src="img/uv-image.jpg" alt="" class="uv-image">
    <div class="uv-main">
      <div class="uv-stats">
        <h2>УФ-СТЕРИЛИЗАЦИЯ</h2>
        <p>Согласно международному отчету об испытаниях TUV, процент нейтрализации основной части микроорганизмов таких, как вирусы, бактерии, плесень, грибки и споры составляет</p>
        <h4>92,78%</h4>
      </div>
      <div class="uv-info">
        <h3>PRO-СТЕРИЛИЗАЦИЯ<br> (УФ-СТЕРИЛИЗАЦИЯ<br> + ИОНИЗАЦИЯ)</h3>
        <p>Наличие ионизатора позволяет почувствовать энергию свежего воздуха даже если вы находитесь в помещении. Генератор создает отрицательно заряженные микрорадикалы воды, эффективно уничтожающие бактерии путем соединения с белком на поверхности и изменением его структуры.</p>
        <p>Микрорадикалы воды улучшают состояние<br> кожи, 92,78% бережно увлажняя ее</p>
      </div>
    </div>
  </div>
</section>

<section class="product">
  <div class="container">
    <img src="img/svg/casarte.svg" alt="" class="product-casarte">
    <div class="product-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide product-slide">
          <div class="product-image"><img src="img/product-1.png" alt=""></div>
          <div class="product-text">
            <h3>CASARTE DOOUBLE DRUM</h3>
            <h2>Серия Eletto</h2>
            <p>Cдержанные классические формы, четко очерченные грани, простой и элегантный дизайн</p>
          </div>
        </div>
        <div class="swiper-slide product-slide">
          <div class="product-image"><img src="img/product-1.png" alt=""></div>
          <div class="product-text">
            <h3>CASARTE DOOUBLE DRUM</h3>
            <h2>Серия Eletto</h2>
            <p>Cдержанные классические формы, четко очерченные грани, простой и элегантный дизайн</p>
          </div>
        </div>
      </div>
      <div class="product-control">
        <div class="product-slider__arrow product-slider__prev"></div>
        <i></i>
        <div class="product-slider__arrow product-slider__next"></div>
      </div>
    </div>
  </div>
</section>

{% endblock %}