{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<section class="advantages">
  <div class="container">
    <div class="advantages-list">
      <div class="advantages-item">
        <img src="img/svg/advantages-1.svg" alt="">
          <span class="advantages-item__text">
            <h3>Гарантия 7 лет</h3>
            <p>На весь модельный ряд на все серии кондиционеров Casarte</p>
          </span>
        </img>
      </div>
      <div class="advantages-item">
        <img src="img/svg/advantages-2.svg" alt="">
          <span class="advantages-item__text">
            <h3>Забота о здоровье</h3>
            <p>На весь модельный ряд на все серии кондиционеров Casarte</p>
          </span>
        </img>
      </div>
      <div class="advantages-item">
        <img src="img/svg/advantages-3.svg" alt="">
          <span class="advantages-item__text">
            <h3>Непревзойденная эффективность</h3>
            <p>На весь модельный ряд на все серии кондиционеров Casarte</p>
          </span>
        </img>
      </div>
      <div class="advantages-item">
        <img src="img/svg/advantages-4.svg" alt="">
          <span class="advantages-item__text">
            <h3>Максимальный комфорт</h3>
            <p>На весь модельный ряд на все серии кондиционеров Casartes</p>
          </span>
        </img>
      </div>
    </div>
  </div>
</section>

{% endblock %}